<div class="container">
<h2 align="center">Cart items</h2>
    
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-primary">
  <div class="panel-heading">
            <div class="row">
      <div class="col-md-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping cart</h5>
                </div>
                 <div class="col-md-4 pull-right">
               <a href="/"></a> <button type="button" class="btn btn-default btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
                </div>
      </div>
            </div>
        </div>
        <div class="panel-body">
            {{# if products}}
   <div class="row">
       {{#each products}}
            <div class="col-md-2"><!-- image div -->
               
       <img src="{{this.item.url}}" id="images" alt="No picture available">
                  
       </div>
       <div class="col-md-4"><!-- product details-->
       <h4><span style="text-transform: none;">{{this.item.title}}</span></h4>
       </div>
       <div class="col-md-6">
       <div class="col-md-6 text-right">
								<h6><strong>Rs.{{this.price}} <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" value={{this.qty}}>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
       </div>
            </div>
       
  </div>
            
            {{/each}}
            <div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>{{totalPrice}}</strong></h4>
						</div>
    </div>
        	<div class="panel-footer">
					<div class="row text-center">
<!--
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>Rs.234</strong></h4>
						</div>
-->
						<div class="col-xs-3 pull-right">
							<button type="button" class="btn btn-success btn-block" onclick="location.href='/order'">
								Checkout
							</button>
						</div>
					</div>
				</div>
</div>
    </div>
    {{else}}
        <div class="container"> <div class="alert alert-success alert-dismissible" id="alertMsg" style="display:none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Hey!</strong> No items in wishlist....!
  </div></div>
    {{/if}}
</div>
   